---
layout: sidebar_narrow
menu_section: community
sidebar_only: false
---
  <div class="section-menu section-menu--community section-menu--dark">
    <div class="section-menu__header">
      <h3><a href="/community/">Community</a></h3>
    </div>
    <ul>
      <li class="section-menu__item{% if page.menu_subsection == 'events' %} open{% unless page.community_event %} active{% endunless %}{% endif %}">
        <a href="/community/events/">Events</a>
        <ul>
          <li class="section-menu__subitem{% if page.community_event == 'retreat-2015' %} active{% endif %}"><a href="/community/events/developer-retreat-2015/"><span>Developer Retreat 2015</span></a></li>
          <li class="section-menu__subitem{% if page.community_event == 'retreat-2014' %} active{% endif %}"><a href="/community/events/developer-retreat-2014/"><span>Developer Retreat 2014</span></a></li>
        </ul>
      </li>
      <li class="section-menu__item{% if page.menu_subsection == 'online' %} active{% endif %}"><a href="/community/online/">Online Communities</a></li>
      <li class="section-menu__item{% if page.menu_subsection == 'apps' %} open{% if page.collection == nil %} active{% endif %}{% endif %}">
        <a href="/community/apps/">Example Apps</a>
        <ul>
          {% for app in site.community_apps | sort_by: 'name' %}
            <li class="section-menu__subitem{% if page.url == app.url %} active{% endif %}"><a href="{{ site.baseurl }}{{ app.url }}"><span>{{ app.name }}</span></a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="section-menu__item{% if page.menu_subsection == 'tools' %} open{% if page.collection == nil %} active{% endif %}{% endif %}">
        <a href="/community/tools/">Tools</a>
        <ul>
          {% for tool in site.community_tools | sort_by: 'name' %}
            <li class="section-menu__subitem{% if page.url == tool.url %} active{% endif %}"><a href="{{ site.baseurl }}{{ tool.url }}"><span>{{ tool.name }}</span></a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="section-menu__item{% if page.menu_subsection == 'libraries' %} open{% if page.collection == nil %} active{% endif %}{% endif %}">
        <a href="/community/libraries/">Libraries</a>
        <ul>
          {% for library in site.community_libraries | sort_by: 'name' %}
            <li class="section-menu__subitem{% if page.url == library.url %} active{% endif %}"><a href="{{ site.baseurl }}{{ library.url }}"><span>{{ library.name }}</span></a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
</div><!-- sidebar__wrapper -->
<div class="content content--section-menu">
  {% include search.html %}
  {{ content }}
</div>
