---
menu_section: more
menu_subsection: legal
layout: more
---
<div class="container">
  <!-- {% include utils/toc_small.html toc=page.toc %} -->
  <div class="row">
    <div class="col-l-12">
      <h1 class="pagetitle">{{ page.title }}</h1>
      <div class="markdown markdown--legal">{{ content }}</div>
    </div>
    <!-- {% if page.toc %}
      <div class="col-m-4 hidden-s hidden-xs hidden-m">
        <div class="gray-box gray-box--fixed">
          {% include utils/toc_large.html toc=page.toc %}
        </div>
      </div>
    {% endif %} -->
  </div>
</div>
