---
layout: community
title: Events
scripts:
  - community/events
styles:
  - libs/select-theme-default
menu_subsection: events
---
<div class="container">
  <div class="row hidden-m hidden-l">
    <div class="col-l-12">
        <h1 class="pagetitle">Community Events </h1>
    </div>
  </div>
  <div class="row">

    <!-- Sidebar with additional content -->
    <div class="col-m-4 push-m-8">
      {% include community/events/calendar.html %}
      <p><a href="javascript:void();" data-modal-target="#overlay-events-form" 
        class="btn btn--fg-white btn--bg-purple btn--wide">Submit an Event</a></p>
      <p><a href="http://www.meetup.com/pro/pebble/" 
        class="btn btn--fg-white btn--bg-green btn--wide">Find a Meetup Near You</a></p>
      <div class="gray-box">
        <p>
          Pebble Meetups are run by community members <strong>just like you</strong>!
          If you're interested in organizing a local meetup, we can provide
          support, guidance, and sponsorship!
        </p>

        <a href="https://docs.google.com/document/d/1PeYXRqw3VJ9UdFNMsBBbI2WtSm0QDzOmhhODyVbNy1Q"
           target="_blank"
           class="btn btn--wide btn--center btn--fg-darkgray btn--bg-white">
            Organize a Meetup!
          </a>
      </div>
      <div class="hidden-s hidden-xs">
        <script type="text/javascript" src="https://www.meetup.com/embed/largest/pebble/"></script>
      </div>
    </div>

    <!-- Main page content -->
    <div class="col-m-8 pull-m-4">
      <!-- Map of current Meetups -->
      <div id="js-events__map" class="events__map"></div>
      <!-- List of current Meetups -->
      <h1 class="pagetitle visible-m visible-l">Community Events</h1>
      <div class="row js-events__list events__list">
        <span class="spinner spinner--padded spinner--large spinner--center"></span>
      </div>
    </div>

  </div>

  <div id="overlay-events-form" class="hidden">
    {% include community/events/form.html %}
  </div>

</div>
